<%= simple_form_for(@listing, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

    <%= f.input :title %>
    <%= f.input :description, as: :text, input_html: { rows: "6"} %>
    <%= f.input :location %>
    <%= f.input :vehicle %>
    <%= f.input :rate %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary"%>
  </div>
<% end %>
