<tr>
    <td><%= listing.title %></td>
    <td><%= listing.description %></td>
    <td><%= listing.location %></td>
    <td><%= listing.vehicle %></td>
    <td><%= listing.rate %></td>
    <td><%= link_to "Show", listing, class: "btn btn-primary btn-large" %></td>

  </tr>