<div class= "row">
  <div class= "span6 offset3">
    <div class="well">

<div align="right">
	     <% if current_user == @listing.user %>
		 <td><%= link_to "Edit", edit_listing_path(@listing), class: "btn btn-primary btn-small" %></td>
		 <td><%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-small" %></td>
		 <% end %>
		 <td><%= link_to 'Back', listings_path, class: "btn btn-primary btn-small" %></td>
</div>

<div>

	<p><h3><%= @listing.title %></h3></p>

    <p align= "center"><%= image_tag @listing.image(:large) %></p>
	
		<p><h4><%= link_to @listing.user.name, @listing.user %></h4></p>
		<p><%= @listing.description %></p>
		<p><h3><%= @listing.location %></h3></p>
		<p><h5><%= @listing.vehicle %></h5></p>
		<p><font color="#f79647"><h3>£ <%= @listing.rate %> <small>per hour</small></h3></font></p>
		<p align= "right">Created: <%= @listing.created_at %></p>
</div>
</div>
</div>
</div>