<div class= "row">
  <div class= "span6 offset3">
    <div class="well">

<p><h3><%= @listing.title %></h3></p>

<p><%= @listing.description %></p>

<p><%= @listing.location %></p>

<p><%= @listing.vehicle %></p>

<p><h3>£ <%= @listing.rate %> <small>per hour</small></h3></p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>

      </div>
  </div>
</div>
